<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emilia_narizinho1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho10.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho11.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho12.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho17.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,289},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho18.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,289},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho19.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,289},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho20.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,289},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>emilia_narizinho9.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{471,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,285}}</string>
                <key>sourceSize</key>
                <string>{471,285}</string>
            </dict>
            <key>goiba_bad_falling1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,576},{124,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,141}}</string>
                <key>sourceSize</key>
                <string>{124,141}</string>
            </dict>
            <key>goiba_bad_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,576},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,576},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,576},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,576},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk14.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,863},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk15.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,863},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk16.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,863},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk17.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,863},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk18.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,863},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk19.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,863},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,863},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk20.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,863},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk21.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,863},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk22.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,863},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk23.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,863},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1005},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk25.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1005},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk26.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1005},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk27.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1005},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk28.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1005},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk29.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1005},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1005},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk30.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1005},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk31.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1005},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk32.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1005},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk33.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1005},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk34.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1005},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1147},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk36.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1147},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk37.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1147},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk38.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1147},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk39.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1147},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1147},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk40.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1147},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1147},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1147},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1147},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1147},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk9.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1147},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_good_falling1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{114,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,145}}</string>
                <key>sourceSize</key>
                <string>{114,145}</string>
            </dict>
            <key>goiba_good_waking1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1289},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking10.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1289},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking11.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1289},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking12.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1289},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking13.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1289},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking14.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1289},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking15.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1289},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking16.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1289},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking18.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1436},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking19.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1436},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1436},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1436},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking4.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1436},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking5.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1436},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking6.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1436},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking7.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1436},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking9.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1578},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>piquenique.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb61f40bd801adcea282f742a65ab424:9ec4a02da082397d61d97ca40ea60f17:1016886e1381b62928217e6ea84e40b6$</string>
            <key>textureFileName</key>
            <string>piquenique.png</string>
        </dict>
    </dict>
</plist>
