<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goiba_bad_falling1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,141}}</string>
                <key>sourceSize</key>
                <string>{124,141}</string>
            </dict>
            <key>goiba_bad_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk13.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk14.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk15.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk16.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk17.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk18.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,145},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk20.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,145},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk21.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,145},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk22.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,145},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk23.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,145},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk24.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,145},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk25.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,145},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk26.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,145},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk27.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,145},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk28.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,145},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk29.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,145},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk30.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,287},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk31.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,287},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk32.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,287},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk33.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,287},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk34.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,287},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk35.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,287},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk36.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,287},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk37.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,287},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk38.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,287},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk39.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,287},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,287},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,429},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,429},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,429},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,429},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_bad_walk9.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,429},{83,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,140}</string>
            </dict>
            <key>goiba_good_falling.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,429},{114,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,145}}</string>
                <key>sourceSize</key>
                <string>{114,145}</string>
            </dict>
            <key>goiba_good_waking0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,429},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,429},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,429},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,576},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,576},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,576},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,576},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,576},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,576},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,576},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,576},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,718},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,718},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,718},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,718},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,718},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>goiba_good_waking0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,718},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>piquenique.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11ae020e99f5ad4d2b9a9a1eeec12c94:424b65548f1b58e65da6f82d224b0a4e:1016886e1381b62928217e6ea84e40b6$</string>
            <key>textureFileName</key>
            <string>piquenique.png</string>
        </dict>
    </dict>
</plist>
